name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test Code
        run: |
          go build -v ./...
          go test -v -race ./...

  ai:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test Code
        env: 
          CHATGPT_API_KEY: ${{ secrets.CHATGPT_API_KEY }}
          CHATGPT_PROXY: ${{ secrets.CHATGPT_PROXY }}
          CHATGPT_ENDPOINT: ${{ secrets.CHATGPT_ENDPOINT }}
          CHATGPT_MODEL: ${{ secrets.CHATGPT_MODEL }}
          CHATGPT_MODEL_FOR_IMAGE: ${{ secrets.CHATGPT_MODEL_FOR_IMAGE }}
          CHATGPT_MODEL_FOR_TOOLS: ${{ secrets.CHATGPT_MODEL_FOR_TOOLS }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GEMINI_PROXY: ${{ secrets.GEMINI_PROXY }}
          GEMINI_ENDPOINT: ${{ secrets.GEMINI_ENDPOINT }}
          GEMINI_MODEL: ${{ secrets.GEMINI_MODEL }}
          GEMINI_MODEL_FOR_IMAGE: ${{ secrets.GEMINI_MODEL_FOR_IMAGE }}
          GEMINI_MODEL_FOR_TOOLS: ${{ secrets.GEMINI_MODEL_FOR_TOOLS }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          ANTHROPIC_PROXY: ${{ secrets.ANTHROPIC_PROXY }}
          ANTHROPIC_ENDPOINT: ${{ secrets.ANTHROPIC_ENDPOINT }}
          ANTHROPIC_MODEL: ${{ secrets.ANTHROPIC_MODEL }}
          ANTHROPIC_MODEL_FOR_IMAGE: ${{ secrets.ANTHROPIC_MODEL_FOR_IMAGE }}
          ANTHROPIC_MODEL_FOR_TOOLS: ${{ secrets.ANTHROPIC_MODEL_FOR_TOOLS }}
        run: go test -v
